body{
  margin:0;
  height:100vh;
  display:grid;
  place-items:center;
}

.btn-wrapper{
  cursor:pointer;
}

.btn-wrapper .pause-btn{
  width:60px;
  height:60px;
  background-color:#444;
  border:none;
  cursor:pointer;
  clip-path:polygon(0 0,50% 25%,50% 75%,50% 75%,50% 25%,100% 50%,100% 50%,0 100%);
  transition:clip-path 0.3s ease-in-out;
}

.btn-wrapper.active .pause-btn{
  clip-path:polygon(0 0,40% 0,40% 100%,60% 100%,60% 0,100% 0,100% 100%,0 100%);
}
